interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://gni.globalnames.org/parsers.json?names=Cyanistes+caeruleus%7CHelianthus+annuus
  response:
    body: {string: '[{"scientificName":{"parsed":true,"parser_version":"3.1.4","verbatim":"Cyanistes
        caeruleus","normalized":"Cyanistes caeruleus","canonical":"Cyanistes caeruleus","hybrid":false,"details":[{"genus":{"string":"Cyanistes"},"species":{"string":"caeruleus"}}],"parser_run":1,"positions":{"0":["genus",9],"10":["species",19]}}}

        ,

        {"scientificName":{"parsed":true,"parser_version":"3.1.4","verbatim":"Helianthus
        annuus","normalized":"Helianthus annuus","canonical":"Helianthus annuus","hybrid":false,"details":[{"genus":{"string":"Helianthus"},"species":{"string":"annuus"}}],"parser_run":1,"positions":{"0":["genus",10],"11":["species",17]}}}

        ]'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: ['"660854147d0d7dce3663b32552e896f0"']
      Status: [200 OK]
    status: {code: 200, message: OK}
version: 1
