interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://gni.globalnames.org/name_strings/17802847.json?all_records=1
  response:
    body: {string: '{"data":[{"data_source":{"updated_at":"2010/05/14 22:47:59 +0000","unique_names_count":2511782,"title":"Index
        to Organism Names","name_strings_count":4104326,"refresh_period_days":14,"data_url":"http://gnapartnership.org/gna_test/ion/data.xml","data_zip_compressed":null,"created_at":"2009/08/14
        18:56:01 +0000","description":"ION will ultimately contain all the organism
        names related data found within the Thomson Reuters life science literature
        databases.","id":30,"web_site_url":"http://www.organismnames.com/","data_hash":"da39a3ee5e6b4b0d3255bfef95601890afd80709"},"name_index_id":98448788,"records":[{"updated_at":"2009/09/27
        10:27:31 +0000","kingdom_id":null,"name_rank_id":2,"local_id":"2521957","global_id":null,"url":"http://www.organismnames.com/details.htm?lsid=2521957","nomenclatural_code_id":null,"name_index_id":98448788,"original_name_string":null,"created_at":"2009/09/27
        10:27:31 +0000","record_hash":null,"id":127858346}],"records_number":1}],"name_string":{"updated_at":"2009/08/14
        15:14:10 +0000","is_canonical_form":1,"has_words":true,"resource_uri":null,"uuid_hex":"35fa270e-1a07-5e5d-914c-90230dc8680a","canonical_form_id":5703176,"lsid":"urn:lsid:globalnames.org:index:35fa270e-1a07-5e5d-914c-90230dc8680a","created_at":"2009/08/14
        15:14:10 +0000","normalized":"ACALLEPITRIX ANILA","name":"Acallepitrix anila","id":17802847}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: ['"c2cb00a8d89a5a89280944826886ecb1"']
      Status: [200 OK]
    status: {code: 200, message: OK}
version: 1
