interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://gni.globalnames.org/name_strings.json?per_page=1&search_term=ani%2A&page=1
  response:
    body: {string: !!python/unicode '{"name_strings":[{"id":22067449,"resource_uri":"http://gni.globalnames.org/name_strings/22067449.xml","uuid_hex":"efef32c0-8314-5c6e-b427-7d5b121898e8","lsid":"urn:lsid:globalnames.org:index:efef32c0-8314-5c6e-b427-7d5b121898e8","name":"?
        Anisolabidinae"}],"name_strings_total":27059,"page_number":"1","per_page":1}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: ['"d15eee260007d6437f01b8f6502f1ba0"']
      status: [200 OK]
    status: {code: 200, message: OK}
version: 1
