interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://gni.globalnames.org/name_strings.json?search_term=ani%2A&per_page=1&page=1
  response:
    body: {string: '{"name_strings":[{"uuid_hex":"efef32c0-8314-5c6e-b427-7d5b121898e8","resource_uri":"http://gni.globalnames.org/name_strings/22067449.xml","lsid":"urn:lsid:globalnames.org:index:efef32c0-8314-5c6e-b427-7d5b121898e8","name":"?
        Anisolabidinae","id":22067449}],"name_strings_total":27059,"page_number":"1","per_page":1}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: ['"e6663950159889ba1f412eea86a6721b"']
      Status: [200 OK]
    status: {code: 200, message: OK}
version: 1
