interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://www.itis.gov/ITISWebService/services/ITISService/searchByCommonName?srchKey=grizzly
  response:
    body: {string: ''}
    headers:
      Location: ['https://www.itis.gov/ITISWebService/services/ITISService/searchByCommonName?srchKey=grizzly']
    status: {code: 302, message: Redirect}
- request:
    body: null
    headers:
    method: GET
    uri: https://www.itis.gov/ITISWebService/services/ITISService/searchByCommonName?srchKey=grizzly
  response:
    body: {string: '<ns:searchByCommonNameResponse xmlns:ns="http://itis_service.itis.usgs.gov"><ns:return
        xmlns:ax21="http://data.itis_service.itis.usgs.gov/xsd" xmlns:ax26="http://itis_service.itis.usgs.gov/xsd"
        xmlns:ax23="http://metadata.itis_service.itis.usgs.gov/xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:type="ax21:SvcCommonNameList"><ax21:tsn xsi:nil="true" /><ax21:commonNames
        xsi:type="ax21:SvcCommonName"><ax21:commonName>grizzly lancetooth</ax21:commonName><ax21:language>unspecified</ax21:language><ax21:tsn>76998</ax21:tsn></ax21:commonNames><ax21:commonNames
        xsi:type="ax21:SvcCommonName"><ax21:commonName>Grizzly Bear</ax21:commonName><ax21:language>English</ax21:language><ax21:tsn>180543</ax21:tsn></ax21:commonNames><ax21:commonNames
        xsi:type="ax21:SvcCommonName"><ax21:commonName>Mexican grizzly bear</ax21:commonName><ax21:language>English</ax21:language><ax21:tsn>202384</ax21:tsn></ax21:commonNames><ax21:commonNames
        xsi:type="ax21:SvcCo[...]
