interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://www.itis.gov/ITISWebService/services/ITISService/getHierarchyUpFromTSN?tsn=36485
  response:
    body: {string: !!python/unicode ''}
    headers:
      location: ['https://www.itis.gov/ITISWebService/services/ITISService/getHierarchyUpFromTSN?tsn=36485']
    status: {code: 302, message: Redirect}
- request:
    body: null
    headers:
    method: GET
    uri: https://www.itis.gov/ITISWebService/services/ITISService/getHierarchyUpFromTSN?tsn=36485
  response:
    body: {string: !!python/unicode '<ns:getHierarchyUpFromTSNResponse xmlns:ns="http://itis_service.itis.usgs.gov"><ns:return
        xmlns:ax21="http://data.itis_service.itis.usgs.gov/xsd" xmlns:ax26="http://itis_service.itis.usgs.gov/xsd"
        xmlns:ax23="http://metadata.itis_service.itis.usgs.gov/xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:type="ax21:SvcHierarchyRecord"><ax21:tsn>36485</ax21:tsn><ax21:author>Raf.</ax21:author><ax21:parentName>Asteraceae</ax21:parentName><ax21:parentTsn>35420</ax21:parentTsn><ax21:rankName>Genus</ax21:rankName><ax21:taxonName>Agoseris</ax21:taxonName></ns:return></ns:getHierarchyUpFromTSNResponse>'}
    headers:
      content-type: [application/xml;charset=UTF-8]
      x-application: [itis_webservices]
    status: {code: 200, message: OK}
version: 1
