interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://www.itis.gov/ITISWebService/jsonservice/getFullHierarchyFromTSN?tsn=558090
  response:
    body:
      string: ''
    headers:
      Location:
      - https://www.itis.gov/ITISWebService/jsonservice/getFullHierarchyFromTSN?tsn=558090
    status:
      code: 302
      message: Redirect
- request:
    body: null
    headers:
    method: GET
    uri: https://www.itis.gov/ITISWebService/jsonservice/getFullHierarchyFromTSN?tsn=558090
  response:
    body:
      string: '{"author":"","class":"gov.usgs.itis.itis_service.data.SvcHierarchyRecordList","hierarchyList":[{"author":null,"class":"gov.usgs.itis.itis_service.data.SvcHierarchyRecord","parentName":"","parentTsn":"","rankName":"Kingdom","taxonName":"Animalia","tsn":"202423"},{"author":null,"class":"gov.usgs.itis.itis_service.data.SvcHierarchyRecord","parentName":"Animalia","parentTsn":"202423","rankName":"Subkingdom","taxonName":"Bilateria","tsn":"914154"},{"author":null,"class":"gov.usgs.itis.itis_service.data.SvcHierarchyRecord","parentName":"Bilateria","parentTsn":"914154","rankName":"Infrakingdom","taxonName":"Deuterostomia","tsn":"914156"},{"author":null,"class":"gov.usgs.itis.itis_service.data.SvcHierarchyRecord","parentName":"Deuterostomia","parentT[...]
