interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.catalogueoflife.org/col/webservice?name=Apis&response=full
  response:
    body: {string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<results id=\"\" name=\"\
        Apis\" total_number_of_results=\"75\" number_of_results_returned=\"50\" start=\"\
        0\" error_message=\"\" version=\"1.9 rev 2126ab0\" rank=\"\">\n  <result>\n\
        \    <id>015be25f6b061ba517f495394b80f108</id>\n    <name>Apis</name>\n  \
        \  <rank>Genus</rank>\n    <name_status>accepted name</name_status>\n    <name_html><i>Apis</i></name_html>\n\
        \    <url>http://www.catalogueoflife.org/col/browse/tree/id/015be25f6b061ba517f495394b80f108</url>\n\
        \    <is_extinct>false</is_extinct>\n    <classification>\n      <taxon>\n\
        \        <id>5ede24b0534ebd5e1f552d5b9f874a6a</id>\n        <name>Animalia</name>\n\
        \        <rank>Kingdom</rank>\n        <name_html>Animalia</name_html>\n \
        \       <url>http://www.catalogueoflife.org/col/browse/tree/id/5ede24b0534ebd5e1f552d5b9f874a6a</url>\n\
        \      </taxon>\n      <taxon>\n        <id>89ac18bfcf1654a9662a600ba06bb494</id>\n\
        \        <name>Arthropoda</name>\n        <rank>Phylum</rank>\n        <name_html>Arthropoda</name_html>\n[...]
