interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.gbif.org/v1/species/suggest?q=puma%20con
  response:
    body:
      string: '[{"key":6164622,"kingdom":"Animalia","phylum":"Chordata","order":"Carnivora","family":"Felidae","genus":"Puma","species":"Puma
        concolor","kingdomKey":1,"phylumKey":44,"classKey":359,"orderKey":732,"familyKey":9703,"genusKey":2435098,"speciesKey":2435099,"parent":"Puma
        concolor","parentKey":2435099,"scientificName":"Puma concolor puma (Molina,
        1782)","canonicalName":"Puma concolor puma","rank":"SUBSPECIES","status":"ACCEPTED","higherClassificationMap":{"1":"Animalia","44":"Chordata","359":"Mammalia","732":"Carnivora","9703":"Felidae","2435098":"Puma","2435099":"Puma
        concolor"},"synonym":false,"class":"Mammalia"},{"key":6164600,"kingdom":"Animalia","phylum":"Chordata","order":"Carnivora","family":"Felidae","genus":"Puma","species":"Puma
        concolor","kingdomKey":1,"phylumKey":44,"classKey":359,"orderKey":732,"familyKey":9703,"genusKey":2435098,"speciesKey":2435099,"parent":"Puma
        concolor","parentKey":2435099,"scientificName":"Puma concolor coryi (Bangs,
        1899)","canonicalName":"Puma concolor coryi","rank":"SUBSPECIES","status":"SYNONYM","higherClassificationMap":{"1":"Anim[...]
