interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://gni.globalnames.org/name_strings.json?search_term=ani%2A&per_page=1&page=1
  response:
    body:
      string: '{"name_strings":[{"uuid_hex":"efef32c0-8314-5c6e-b427-7d5b121898e8","name":"?
        Anisolabidinae","lsid":"urn:lsid:globalnames.org:index:efef32c0-8314-5c6e-b427-7d5b121898e8","resource_uri":"http://gni.globalnames.org/name_strings/22067449.xml","id":22067449}],"name_strings_total":27059,"page_number":"1","per_page":1}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '"9b47e7820d83b1600bdf8074c980ae88"'
      Status:
      - 200 OK
    status:
      code: 200
      message: OK
version: 1
