interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://resolver.globalnames.org/name_resolvers?format=json&resolve_once=false&with_context=false&best_match_only=false&header_only=false&preferred_data_sources=false&names=Helianthus+annus
  response:
    body: {string: '{"id":"b622xz4l8c7l","url":"http://resolver.globalnames.org/name_resolvers/b622xz4l8c7l.json","data_sources":[],"data":[{"supplied_name_string":"Helianthus
        annus","is_known_name":true,"results":[{"data_source_id":12,"data_source_title":"EOL","gni_uuid":"f5674e32-00cc-57e3-b632-6a0b89fa4df4","name_string":"Helianthus
        annus","canonical_form":"Helianthus annus","classification_path":"","classification_path_ranks":"","classification_path_ids":"","taxon_id":"s_5106367","local_id":"468106","edit_distance":0,"url":"http://eol.org/pages/468106/names/synonyms","imported_at":"2012-05-08T02:42:50Z","match_type":1,"match_value":"Exact
        string match","prescore":"3|0|0","score":0.988},{"data_source_id":169,"data_source_title":"uBio
        NameBank","gni_uuid":"f5674e32-00cc-57e3-b632-6a0b89fa4df4","name_string":"Helianthus
        annus","canonical_form":"Helianthus annus","classification_path":"|Helianthus
        annus","classification_path_ranks":"kingdom|","classification_path_ids":"","taxon_id":"102910884","local_id":"urn:lsid:ubio.org:namebank:10130157","global_id":"urn:lsid:ubio.org:namebank:10130157","edit_distance":0,"url":"http://www.ubio.org/browser/details.php?namebankID=10130157","imported_at":"2013-05-31T20:12:19Z","match_type":1,"match_value":"Exact
        string match","prescore":"3|0|0","score":0.988},{"data_source_id":12,"data_source_title":"EOL","gni_uuid":"e757b3c1-421f-5bb9-a27f-d56259baaf3d","name_string":"Helianthus
        annus L.","canonical_form":"Helianthus annus","classification_path":"","classification_path_ranks":"","classification_path_ids":"","taxon_id":"20584982","local_id":"468106","edit_distance":0,"url":"http://eol.org/pages/468106","imported_at":"2012-05-08T02:42:50Z","match_type":2,"match_value":"Exact
        match by canonical form","prescore":"3|0|0","score":0.988}],"preferred_results":[]}],"status":"success","message":"Success","parameters":{"with_context":false,"header_only":false,"with_canonical_ranks":false,"with_vernaculars":false,"best_match_only":false,"data_sources":[],"preferred_data_sources":[0],"resolve_once":false}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: ['"5acd1c1a707108ddaf5d116962908dea"']
    status: {code: 200, message: OK}
version: 1
