interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://www.itis.gov/ITISWebService/jsonservice/getITISTermsFromScientificName?srchKey=Panthera+tigris&srchKey=Panthera+leo
  response:
    body:
      string: ''
    headers:
      Location:
      - https://www.itis.gov/ITISWebService/jsonservice/getITISTermsFromScientificName?srchKey=Panthera+tigris&srchKey=Panthera+leo
    status:
      code: 302
      message: Redirect
- request:
    body: null
    headers:
    method: GET
    uri: https://www.itis.gov/ITISWebService/jsonservice/getITISTermsFromScientificName?srchKey=Panthera+tigris&srchKey=Panthera+leo
  response:
    body:
      string: '{"class":"gov.usgs.itis.itis_service.data.SvcItisTermList","itisTerms":[{"author":"(Linnaeus,
        1758)","class":"gov.usgs.itis.itis_service.data.SvcItisTerm","commonNames":["Tiger","Tigre","Tigre"],"nameUsage":"valid","scientificName":"Panthera
        tigris","tsn":"183805"},{"author":"(Linnaeus, 1758)","class":"gov.usgs.itis.itis_service.data.SvcItisTerm","commonNames":["Bengal
        tiger"],"nameUsage":"valid","scientificName":"Panthera tigris tigris","tsn":"183806"},{"author":"(Fitzinger,
        1868)","class":"gov.usgs.itis.itis_service.data.SvcItisTerm","commonNames":["Siberian
        tiger"],"nameUsage":"invalid","scientificName":"Panthera tigris longipilis","tsn":"183807"},{"author":"Temminck,
        1844","class":"gov.usgs.itis.itis_service.da[...]
[...]
