interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://eol.org/api/search/1.0.json?q=Panthera%20tigris&exact=true
  response:
    body:
      string: "{\"totalResults\":129,\"startIndex\":1,\"itemsPerPage\":50,\"results\":[{\"id\":328674,\"title\":\"Panthera
        tigris\",\"link\":\"https://eol.org/pages/328674\",\"content\":\"Panthera
        tigris; Panthera tigris (Linnaeus, 1758); Panthera tigris \xC3\x97 Panthera
        leo; \\u003ci\\u003ePanthera tigris\\u003c/i\\u003e\"},{\"id\":1253183,\"title\":\"Panthera
        tigris altaica\",\"link\":\"https://eol.org/pages/1253183\",\"content\":\"Panthera
        tigris altaica; Panthera tigris subsp. altaica Temminck, 1844; Panthera tigris
        altaica Temminck, 1844; Panthera tigris longipilis (Fitzinger, 1868); Panthera
        tigris ssp. altaica Temminck, 18[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://eol.org/api/pages/1.0/328674.json
  response:
    body:
      string: "{\"taxonConcept\":{\"identifier\":328674,\"scientificName\":\"Panthera
        tigris (Linnaeus, 1758)\",\"richness_score\":null,\"taxonConcepts\":[{\"identifier\":2739859,\"scientificName\":\"Panthera
        tigris\",\"name\":\"Panthera tigris\",\"nameAccordingTo\":\"Flickr BHL\",\"canonicalForm\":\"\\u003ci\\u003ePanthera
        tigris\\u003c/i\\u003e\",\"sourceIdentifier\":\"9cc2cf983074a34743824b3845e1d711\"},{\"identifier\":7158896,\"scientificName\":\"Panthera
        tigris (Linnaeus, 1758)\",\"name\":\"Panthera tigris (Linnaeus, 1758)\",\"nameAccordingTo\":\"EOL
        Dynamic Hierarchy 0.9\",\"canonicalForm\":\"\\u003ci\\u003ePanthera tigris\\u003c/i\\u003e\",\"sourceIdentifier\":\"-2388802\",\"taxonRank\":\"species\"},{\"identifier\":10230459,\"scientificName\":\"Panthera
        tigris\",\"name\":\"Panthera tigris\",\"nameAccordingTo\":\"iNaturalist\",\"canonicalForm\":\"\\u003ci\\u003ePanthera
        tigris\\u003c/i\\u003e\",\"sourceIdentifier\":\"https://www.inaturalist.org/taxa/41967\"},{\"identifier\":10263600,\"scientificName\":\"Panthera
        tigris\",\"name\":\"Panthera tigris\",\"nameAccordingTo\":\"PlanetScott\",\"canonicalForm\":\"\\u003ci\\u003ePanthera
        tigris\\u003c/i\\u0[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://eol.org/api/pages/1.0/52384402.json
  response:
    body:
      string: '{"taxonConcept":{"identifier":52384402,"scientificName":"Panthera tigris
        jacksoni","richness_score":null,"taxonConcepts":[{"identifier":38983027,"scientificName":"Panthera
        tigris jacksoni","name":"Panthera tigris jacksoni","nameAccordingTo":"Wikidata","canonicalForm":"\u003ci\u003ePanthera
        tigris jacksoni\u003c/i\u003e","sourceIdentifier":"Q215836","taxonRank":"subspecies"}]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"2f5c5a0c64880efa6d5567da933a06a6"
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://eol.org/api/pages/1.0/56950838.json
  response:
    body:
      string: '{"taxonConcept":{"identifier":56950838,"scientificName":"Panthera tigris
        trinilensis","richness_score":null,"taxonConcepts":[{"identifier":82502199,"scientificName":"Panthera
        tigris trinilensis","name":"Panthera tigris trinilensis","nameAccordingTo":"wikipedia
        emerging languages","canonicalForm":"\u003ci\u003ePanthera tigris trinilensis\u003c/i\u003e","sourceIdentifier":"Q1541406","taxonRank":"subspecies"}]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"57e7ca4aa1d85124ff94f828fbc9b547"
    status:
      code: 200
      message: OK
version: 1
