interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.gbif.org/v1/species?name=Panthera+tigris&rank=SPECIES&limit=100
  response:
    body:
      string: "{\"offset\":0,\"limit\":100,\"endOfRecords\":true,\"results\":[{\"key\":5219416,\"nubKey\":5219416,\"nameKey\":8116083,\"taxonID\":\"gbif:5219416\",\"sourceTaxonKey\":132081394,\"kingdom\":\"Animalia\",\"phylum\":\"Chordata\",\"order\":\"Carnivora\",\"family\":\"Felidae\",\"genus\":\"Panthera\",\"species\":\"Panthera
        tigris\",\"kingdomKey\":1,\"phylumKey\":44,\"classKey\":359,\"orderKey\":732,\"familyKey\":9703,\"genusKey\":2435194,\"speciesKey\":5219416,\"datasetKey\":\"d7dddbf4-2cf0-4f39-9b2a-bb099caae36c\",\"constituentKey\":\"7ddf754f-d193-4cc9-b351-99906754a03b\",\"parentKey\":2435194,\"parent\":\"Panthera\",\"basionymKey\":4969819,\"basionym\":\"Felis
        tigris (Linnaeus, 1758)\",\"scientificName\":\"Panthera tigris (Linnaeus,
        1758)\",\"canonicalName\":\"Panthera tigris\",\"authorship\":\" (Linnaeus,
        1758)\",\"nameType\":\"SCIENTIFIC\",\"rank\":\"SPECIES\",\"origin\":\"SOURCE\",\"taxonomicStatus\":\"ACCEPTED\",\"nomenclaturalStatus\":[],\"remarks\":\"\",\"publishedIn\":\"Syst.
        Nat., 10th ed. vol.1 p.41\",\"numDescendants\":10,\"lastCrawled\":\"2019-09-06T05:41:48.812+0000\",\"lastInterpreted\":\"2019-09-06T05:02:41.604+0000\",\"issues\":[],\"synonym\":false,\"class\":\"Mammalia\"},{\"key\":100388673,\"nubKey\":5219416,\"nameKey\":8116083,\"taxonID\":\"27913\",\"order\":\"Carnivora\",\"family\":\"Felidae\",\"genus\":\"Panthera\",\"species\":\"Panthera
        tigris\",\"orderKey\":160414038,\"familyKey\":160414225,\"genusKey\":100388647,\"speciesKey\":100388673,\"datasetKey\":\"16c3f9cb-4b19-4553-ac8e-ebb90003aa02\",\"parentKey\":100388647,\"parent\":\"Panthera\",\"scientificName\":\"Panthera
        tigris (Linnaeus, 1758)\",\"canonicalName\":\"Panthera tigris\",\"authorship\":\"
        (Linnaeus, 1758)\",\"nameType\":\"SCIENTIFIC\",\"rank\":\"SPECIES\",\"origin\":\"SOURCE\",\"taxonomicStatus\":\"ACCEPTED\",\"nomenclaturalStatus\":[],\"numDescendants\":0,\"references\":\"http://de.wikipedia.org/wiki/Tiger\",\"lastCrawled\":\"2019-11-15T13:05:28.725+0000\",\"lastInterpreted\":\"2019-11-15T13:08:40.262+0000\",\"issues\":[\"SCIENTIFIC_NAME_ASSEMBLED\",\"VERNACULAR_NAME_INVALID\"],\"synonym\":false},{\"key\":100690905,\"nubKey\":5219416,\"nameKey\":8114238,\"taxonID\":\"14000259\",\"kingdom\":\"Animalia\",\"order\":\"Carnivora\",\"family\":\"Felidae\",\"genus\":\"Panthera\",\"species\":\"Panthera
        tigris\",\"kingdomKey\":135383253,\"classKey\":135383255,\"o[...]
