interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://eol.org/api/search/1.0.json?q=Panthera%20tigris&exact=true
  response:
    body:
      string: "{\"totalResults\":129,\"startIndex\":1,\"itemsPerPage\":50,\"results\":[{\"id\":328674,\"title\":\"Panthera
        tigris\",\"link\":\"https://eol.org/pages/328674\",\"content\":\"Panthera
        tigris; Panthera tigris (Linnaeus, 1758); Panthera tigris \xC3\x97 Panthera
        leo; \\u003ci\\u003ePanthera tigris\\u003c/i\\u003e\"},{\"id\":1253183,\"title\":\"Panthera
        tigris altaica\",\"link\":\"https://eol.org/pages/1253183\",\"content\":\"Panthera
        tigris altaica; Panthera tigris subsp. altaica Temminck, 1844; Panthera tigris
        altaica Temminck, 1844; Panthera tigris longipilis (Fitzinger, 1868); Panthera
        tigris ssp. altaica Temminck, 18[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://eol.org/api/search/1.0.json?q=Panthera%20leo&exact=true
  response:
    body:
      string: "{\"totalResults\":140,\"startIndex\":1,\"itemsPerPage\":50,\"results\":[{\"id\":328672,\"title\":\"Panthera
        leo\",\"link\":\"https://eol.org/pages/328672\",\"content\":\"Panthera leo;
        Panthera leo (Linnaeus, 1758); Panthera leo \xC3\x97 Panthera tigris; Panthera
        leo persica; \\u003ci\\u003ePanthera leo\\u003c/[...]
