interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.gbif.org/v1/species?name=Panthera+tigris&rank=SPECIES&limit=100
  response:
    body:
      string: "{\"offset\":0,\"limit\":100,\"endOfRecords\":true,\"results\":[{\"key\":5219416,\"nubKey\":5219416,\"nameKey\":8116083,\"taxonID\":\"gbif:5219416\",\"sourceTaxonKey\":172721516,\"kingdom\":\"Animalia\",\"phylum\":\"Chordata\",\"order\":\"Carnivora\",\"family\":\"Felidae\",\"genus\":\"Panthera\",\"species\":\"Panthera
        tigris\",\"kingdomKey\":1,\"phylumKey\":44,\"classKey\":359,\"orderKey\":732,\"familyKey\":9703,\"genusKey\":2435194,\"speciesKey\":5219416,\"datasetKey\":\"d7dddbf4-2cf0-4f39-9b2a-bb099caae36c\",\"constituentKey\":\"7ddf754f-d193-4cc9-b351-99906754a03b\",\"parentKey\":2435194,\"parent\":\"Panthera\",\"basionymKey\":4969819,\"basionym\":\"Felis
        tigris Linnaeus, 1758\",\"scientificName\":\"Panthera tigris (Linnaeus, 1758)\",\"canonicalName\":\"Panthera
        tigris\",\"vernacularName\":\"tiger\",\"authorship\":\"(Linnaeus, 1758) \",\"nameType\":\"SCIENTIFIC\",\"rank\":\"SPECIES\",\"origin\":\"SOURCE\",\"taxonomicStatus\":\"ACCEPTED\",\"nomenclaturalStatus\":[],\"remarks\":\"\",\"publishedIn\":\"Syst.
        Nat., 10th ed. vol.1 p.41\",\"numDescendants\":10,\"lastCrawled\":\"2023-08-22T23:20:59.545+00:00\",\"lastInterpreted\":\"2023-08-22T22:19:08.579+00:00\",\"issues\":[],\"class\":\"Mammalia\"},{\"key\":100388673,\"nubKey\":5219416,\"nameKey\":8116083,\"taxonID\":\"27913\",\"order\":\"Carnivora\",\"family\":\"Felidae\",\"genus\":\"Panthera\",\"species\":\"Panthera
        tigris\",\"orderKey\":303396633,\"familyKey\":303396732,\"genusKey\":100388647,\"speciesKey\":100388673,\"datasetKey\":\"16c3f9cb-4b19-4553-ac8e-ebb90003aa02\",\"parentKey\":100388647,\"parent\":\"Panthera\",\"scientificName\":\"Panthera
        tigris (Linnaeus, 1758)\",\"canonicalName\":\"Panthera tigris\",\"authorship\":\"(Linnaeus,
        1758) \",\"nameType\":\"SCIENTIFIC\",\"rank\":\"SPECIES\",\"origin\":\"SOURCE\",\"taxonomicStatus\":\"ACCEPTED\",\"nomenclaturalStatus\":[],\"numDescendants\":0,\"references\":\"http://de.wikipedia.org/wiki/Tiger\",\"lastCrawled\":\"2023-08-24T14:01:22.656+00:00\",\"lastInterpreted\":\"2025-10-14T05:23:39.065+00:00\",\"issues\":[\"SCIENTIFIC_NAME_ASSEMBLED\",\"VERNACULAR_NAME_INVALID\"]},{\"key\":100690905,\"nubKey\":5219416,\"nameKey\":8114242,\"taxonID\":\"14000259\",\"kingdom\":\"Animalia\",\"order\":\"Carnivora\",\"family\":\"Felidae\",\"genus\":\"Panthera\",\"species\":\"Panthera
        tigris\",\"kingdomKey\":304043121,\"classKey\":304043122,\"orderKey\":100688[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.gbif.org/v1/species?name=Panthera+leo&rank=SPECIES&limit=100
  response:
    body:
      string: "{\"offset\":0,\"limit\":100,\"endOfRecords\":true,\"results\":[{\"key\":5219404,\"nubKey\":5219404,\"nameKey\":8115323,\"taxonID\":\"gbif:5219404\",\"sourceTaxonKey\":172721589,\"kingdom\":\"Animalia\",\"phylum\":\"Chordata\",\"order\":\"Carnivora\",\"family\":\"Felidae\",\"genus\":\"Panthera\",\"species\":\"Panthera
       [...]
