interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://eol.org/api/search/1.0.json?q=Panthera%20tigris&exact=true
  response:
    body:
      string: "{\"totalResults\":129,\"startIndex\":1,\"itemsPerPage\":50,\"results\":[{\"id\":328674,\"title\":\"Panthera
        tigris\",\"link\":\"https://eol.org/pages/328674\",\"content\":\"Panthera
        tigris; Panthera tigris (Linnaeus, 1758); Panthera tigris \xC3\x97 Panthera
        leo; \\u003ci\\u003ePanthera tigris\\u003c/i\\u003e\"},{\"id\":1253183,\"title\":\"Panthera
        tigris altaica\",\"link\":\"https://eol.org/pages/1253183\",\"content\":\"Panthera
        tigris altaica; Panthera tigris subsp. altaica Temminck, 1844; Panthera tigris
        altaica Temminck, 1844; Panthera tigris longipilis (Fitzinger, 1868); Panthera
        tigris ssp. altaica Temminck, 18[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://eol.org/api/search/1.0.json?q=Panthera%20leo&exact=true
  response:
    body:
      string: "{\"totalResults\":140,\"startIndex\":1,\"itemsPerPage\":50,\"results\":[{\"id\":328672,\"title\":\"Panthera
        leo\",\"link\":\"https://eol.org/pages/328672\",\"content\":\"Panthera leo;
        Panthera leo (Linnaeus, 1758); Panthera leo \xC3\x97 Panthera tigris; Panthera
        leo persica; \\u003ci\\u003ePanthera leo\\u003c/[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://eol.org/api/pages/1.0/328674.json
  response:
    body:
      string: "{\"taxonConcept\":{\"identifier\":328674,\"scientificName\":\"Panthera
        tigris (Linnaeus, 1758)\",\"richness_score\":null,\"taxonConcepts\":[{\"identifier\":2739859,\"scientificName\":\"Panthera
        tigris\",\"name\":\"Panthera tigris\",\"nameAccordingTo\":\"Flickr BHL\",\"canonicalForm\":\"\\u003ci\\u003ePanthera
        tigris\\u003c/i\\u003e\",\"sourceIdentifier\":\"9cc2cf983074a34743824b3845e1d711\"},{\"identifier\":7158896,\"scientificName\":\"Panthera
        tigris (Linnaeus, 1758)\",\"name\":\"Panthera tigris (Linnaeus, 1758)\",\"nameAccordingTo\":\"EOL
        Dynamic Hierarchy 0.9\",\"canonicalForm\":\"\\u003ci\\u003ePanthera tigris\\u003c/i\\u003e\",\"sourceIdentifier\":\"-2388802\",\"taxonRank\":\"species\"},{\"identifier\":10230459,\"scientificName\":\"Panthera
        tigris\",\"name\":\"Panthera tigris\",\"nameAccordingTo\":\"iNaturalist\",\"canonicalForm\":\"\\u003ci\\u003ePanthera
        tigris\\u003c/i\\u003e\",\"sourceIdentifier\":\"https://www.inaturalist.org/taxa/41967\"},{\"identifier\":10263600,\"scientificName\":\"Panthera
        tigris\",\"name\":\"Panthera tigris\",\"nameAccordingTo\":\"PlanetScott\",\"canonicalForm\":\"\\u003ci\\u003ePanthera
        tigris\\u003c/i\\u0[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://eol.org/api/pages/1.0/52384402.json
  response:
    body:
      string: '{"taxonConcept":{"identifier":52384402,"scientificName":"Panthera tigris
        jacksoni","richness_score":null,"taxonConcepts":[{"identifier":38983027,"scientificName":"Panthera
        tigris jacksoni","name":"Panthera tigris jacksoni","nameAccordingTo":"Wikidata","canonicalForm":"\u003ci\u003ePanthera
        tigris jacksoni\u003c/i\u003e","sourceIdentifier":"Q215836","taxonRank":"subspecies"}]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"2f5c5a0c64880efa6d5567da933a06a6"
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://eol.org/api/pages/1.0/51631324.json
  response:
    body:
      string: "{\"taxonConcept\":{\"identifier\":51631324,\"scientificName\":\"Panthera
        pardus \xD7 Panthera leo\",\"richness_score\":null,\"taxonConcepts\":[{\"identifier\":32284119,\"scientificName\":\"Panthera
        pardus \xD7 Panthera leo\",\"name\":\"Panthera pardus \xD7 Panthera leo\",\"nameAccordingTo\":\"wikipedia
        DE\",\"canonicalForm\":\"\\u003ci\\u003ePanthera\\u003c/i\\u003e pardus \xD7
        Panthera \\u003ci\\u003eleo\\u003c/i\\u003e\",\"sourceIdentifier\":\"Q956107\",\"taxonRank\":\"hybrid\"}]}}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"d51b5f797a1838ce5b220105fa5ce1dd"
    status:
      code: 200
      message: OK
version: 1
