interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://taxosaurus.org/submit?query=Helianthus+annus
  response:
    body:
      string: '{"submit date":"Tue Jun  9 13:36:32 2020","version":"2.2.2","status":"found","token":"2aab1e015acbd4ca3e8561999e983c52","message":"Your
        request is being processed. You can retrieve the results at http://taxosaurus.org/retrieve/2aab1e015acbd4ca3e8561999e983c52.","uri":"http://taxosaurus.org/retrieve/2aab1e015acbd4ca3e8561999e983c52"}'
    headers:
      Content-Type:
      - text/json; charset=utf-8
      Location:
      - http://taxosaurus.org/retrieve/2aab1e015acbd4ca3e8561999e983c52
    status:
      code: 302
      message: Found
- request:
    body: null
    headers:
    method: GET
    uri: http://taxosaurus.org/retrieve/2aab1e015acbd4ca3e8561999e983c52
  response:
    body:
      string: '{"status":"found","message":"Job 2aab1e015acbd4ca3e8561999e983c52 is
        still being processed. Please try refreshing in a few seconds."}'
    headers:
      Content-Type:
      - text/json; charset=utf-8
    status:
      code: 302
      message: Found
- request:
    body: null
    headers:
    method: GET
    uri: http://taxosaurus.org/retrieve/2aab1e015acbd4ca3e8561999e983c52
  response:
    body:
      string: '{"status":"OK","names":[{"matchCount":2,"matches":[{"acceptedName":"Helianthus
        annuus","sourceId":"iPlant_TNRS","score":"0.9694502693699","matchedName":"Helianthus
        annuus","annotations":{"Authority":"L."},"uri":"http://www.tropicos.org/Name/2700851"},{"acceptedName":"Helianthus
        annuus","sourceId":"NCBI","score":"1","matchedName":"Helianthus annus","annotations":{},"uri":"https://www.ncbi.nlm.nih.gov/taxonomy/4232"}],"submittedName":"Helianthus
        annus"}],"metadata":{"spellcheckers":[{"name":"NCBI","description":"NCBI Spell
        Checker","annotations":{},"uri":"http://www.ncbi.nlm.nih.gov/","sourceId":1,"publication":"http://www.ncbi.nlm.nih.gov/pmc/articles/PMC2578899/","call":"python2.6
        tnrs_spellchecker/ncbi_spell.py","rank":1}],"sources":[{"status":"200: OK","name":"NCBI","description":"NCBI
        Taxonomy","uri":"http://www.ncbi.nlm.nih.gov/taxonomy","annotations":{},"sourceId":"NCBI","publication":"Federhen
        S. The Taxonomy Project.2002 Oct 9 [Updated 2003 Aug 13]. In: McEntyre J.,
        Ostell J., editors. The NCBI Handbook [Internet]. Bethesda (MD): National
        Center for Biotechnology Information (US);2002.","rank":3,"code":"ICZN,ICN,ICNB"},{"status":"200:
        OK","name":"iPlant Collaborative TNRS v3.1",[...]
